* {
  font-family: "Domine", sans-serif;
}
body {
  background-image: url(./images/snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
header {
  color: white;
  background-image: url(./images/clouds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#sbmitbttn {
  color: white;
  background-color: blue;
}

.cityBtn {
  background-color: skyblue;
  border: 2px solid white;
  opacity: 60%;
}
.cityBtn:hover {
  opacity: 100%;
}
.cityBtn:focus {
  opacity: 100%;
}

.card {
  opacity: 60%;
  background-color: rgb(109, 136, 143);
}
