body {
  background-image: url(./images/snow.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
header {
  color: white;
  background-image: url(./images/clouds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#sbmitbttn {
  color: white;
  background-color: blue;
}

.cityBtn {
  background-color: skyblue;
  border: 2px solid white;
}
